<?xml version="1.0"?>
<!-- 
  Note: As an alternative to hand editing this file you can use the 
  web admin tool to configure settings for your application. Use
  the Website->Asp.Net Configuration option in Visual Studio.
  A full list of settings and comments can be found in 
  machine.config.comments usually located in 
  \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
			<section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
		</sectionGroup>
	</configSections>
	<appSettings/>
	<system.web>
		<!-- 
      Set compilation debug="true" to insert debugging 
      symbols into the compiled page. Because this 
      affects performance, set this value to true only 
      during development.
    -->
		<authentication mode="Forms"/>
		<trace enabled="false"/>
		<roleManager enabled="true" defaultProvider="RPCSqlRoleProvider">
			<providers>
				<add connectionStringName="RPC" applicationName="rpcwc" name="RPCSqlRoleProvider" type="System.Web.Security.SqlRoleProvider"/>
			</providers>
		</roleManager>
		<!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
		<customErrors mode="Off"/>
		<!--
      The <customErrors> section enables configuration 
      of what to do if/when an unhandled error occurs 
      during the execution of a request. Specifically, 
      it enables developers to configure html error pages 
      to be displayed in place of a error stack trace.

    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    -->
		<compilation debug="false" strict="false" explicit="false">
			<assemblies>
			</assemblies>
		</compilation>
		<pages>
			<namespaces>
				<clear/>
				<add namespace="System"/>
				<add namespace="System.Collections"/>
				<add namespace="System.Collections.Generic"/>
				<add namespace="System.Collections.Specialized"/>
				<add namespace="System.Configuration"/>
				<add namespace="System.Text"/>
				<add namespace="System.Text.RegularExpressions"/>
				<add namespace="System.Web"/>
				<add namespace="System.Web.Caching"/>
				<add namespace="System.Web.SessionState"/>
				<add namespace="System.Web.Security"/>
				<add namespace="System.Web.Profile"/>
				<add namespace="System.Web.UI"/>
				<add namespace="System.Web.UI.WebControls"/>
				<add namespace="System.Web.UI.WebControls.WebParts"/>
				<add namespace="System.Web.UI.HtmlControls"/>
				<add namespace="System.Data.SqlClient"/>
			</namespaces>
		</pages>
		<membership defaultProvider="RPCSqlMembershipProvider">
			<providers>
				<add connectionStringName="RPC" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="false" passwordFormat="Encrypted" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" name="RPCSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider"/>
			</providers>
		</membership>
		<httpRuntime maxRequestLength="1048576" executionTimeout="3600"/>
		<httpHandlers>
			<add verb="*" path="podcast.xml" type="PodcastHttpHandler"/>
			<add verb="*" path="prayer.xml" type="PrayerRSSHttpHandler"/>
			<add verb="*" path="grapemeter.html" type="HtmlPassthroughHandler"/>
      <add verb="*" path="calendarEdit.htm" type="Spring.Web.Support.PageHandlerFactory, Spring.Web"/>
			<add verb="*" path="*.xml" type="XmlPassthroughHandler"/>
			<add verb="*" path="*.htm" type="HtmlRedirectHandler"/>
			<add verb="*" path="*.html" type="HtmlRedirectHandler"/>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpHandlers>
    <httpModules>
      <add name="Spring" type="Spring.Context.Support.WebSupportModule, Spring.Web"/>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
    <caching>
			<sqlCacheDependency enabled="true" pollTime="1000">
				<databases>
					<add name="RPC" connectionStringName="RPC" pollTime="1000"/>
				</databases>
			</sqlCacheDependency>
		</caching>
	</system.web>
  <system.net>
		<mailSettings>
			<smtp from="raymond@rishty.net">
				<network host="smtp.rishty.net" port="25"/>
			</smtp>
		</mailSettings>
	</system.net>
	<connectionStrings>
		<add name="RPC" connectionString="Data Source=beeserver9.bee.net;Initial Catalog=rpcwc;Persist Security Info=True;User ID=rpcwc;Password=xrpcwcx"/>
	</connectionStrings>
	<spring>
		<context>
			<resource uri="~/config/rpcwc-servlet.xml"/>
		</context>
		<parsers>
			<parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data"/>
		</parsers>
	</spring>
</configuration>
