<?xml version="1.0"?>
<!-- 
  Note: As an alternative to hand editing this file you can use the 
  web admin tool to configure settings for your application. Use
  the Website->Asp.Net Configuration option in Visual Studio.
  A full list of settings and comments can be found in 
  machine.config.comments usually located in 
  \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings/>
	<system.web>
		<!-- 
      Set compilation debug="true" to insert debugging 
      symbols into the compiled page. Because this 
      affects performance, set this value to true only 
      during development.
    -->
		<authentication mode="Forms"/>
		<trace enabled="false"/>
		<roleManager enabled="true" defaultProvider="RPCSqlRoleProvider">
			<providers>
				<add connectionStringName="RPC" applicationName="rpcwc" name="RPCSqlRoleProvider" type="System.Web.Security.SqlRoleProvider"/>
			</providers>
		</roleManager>
		<!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
		<customErrors mode="Off"/>
		<!--
      The <customErrors> section enables configuration 
      of what to do if/when an unhandled error occurs 
      during the execution of a request. Specifically, 
      it enables developers to configure html error pages 
      to be displayed in place of a error stack trace.

    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    -->
		<compilation debug="false" strict="false" explicit="false">
			<assemblies>
			</assemblies>
		</compilation>
		<pages>
			<namespaces>
				<clear/>
				<add namespace="System"/>
				<add namespace="System.Collections"/>
				<add namespace="System.Collections.Generic"/>
				<add namespace="System.Collections.Specialized"/>
				<add namespace="System.Configuration"/>
				<add namespace="System.Text"/>
				<add namespace="System.Text.RegularExpressions"/>
				<add namespace="System.Web"/>
				<add namespace="System.Web.Caching"/>
				<add namespace="System.Web.SessionState"/>
				<add namespace="System.Web.Security"/>
				<add namespace="System.Web.Profile"/>
				<add namespace="System.Web.UI"/>
				<add namespace="System.Web.UI.WebControls"/>
				<add namespace="System.Web.UI.WebControls.WebParts"/>
				<add namespace="System.Web.UI.HtmlControls"/>
				<add namespace="System.Data.SqlClient"/>
			</namespaces>
		</pages>
		<membership defaultProvider="RPCSqlMembershipProvider">
			<providers>
				<add connectionStringName="RPC" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" name="RPCSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider"/>
			</providers>
		</membership>
		<httpRuntime maxRequestLength="1048576" executionTimeout="3600"/>
		<httpHandlers>
			<add verb="*" path="podcast.xml" type="PodcastHttpHandler"/>
			<add verb="*" path="prayer.xml" type="PrayerRSSHttpHandler"/>
			<add verb="*" path="google929c7f4dc92952ce.html" type="HtmlPassthroughHandler"/>
			<add verb="*" path="*.htm" type="HtmlRedirectHandler"/>
			<add verb="*" path="*.html" type="HtmlRedirectHandler"/>
		</httpHandlers>
	</system.web>
	<system.net>
		<mailSettings>
			<smtp from="raymond@rishty.net">
				<network host="smtp.rishty.net" port="25"/>
			</smtp>
		</mailSettings>
	</system.net>
	<connectionStrings>
		<add name="RPC" connectionString="Data Source=beeserver9.bee.net;Initial Catalog=rpcwc;Persist Security Info=True;User ID=rpcwc;Password=xrpcwcx"/>
	</connectionStrings>
</configuration>
