.psalm-book{display:none;}
html, body{margin:0;padding:0;}
body{font-family:Arial, Helvetica, Verdana, Sans-serif;font-size:12px;color:#666666;text-align:center;background:#6D8A98;}
ul{padding-left:3em;list-style-type:disc;padding-bottom:1em;}
ol{padding-left:3em;padding-bottom:1em;}
#div_image{padding:0px;}
#page-container{width:800px;text-align:left;background:white;margin:auto;}
#top{background:#6D8A98;text-align:right;color:white;}
#top a{color:white;text-decoration:none;}
#top a:hover{color:#B7D87D;}
#header{background:white;float:right;heading:150px;}
#mainmenu{clear:both;background:#446A7D;color:white;padding:5px;font-size:14px;}
#mainmenu a{color:white;text-decoration:none;}
.mainMenuTable{table-layout:fixed;text-align:center;}
mainMenuStaticItem{text-align:center;}
.mainMenuDynamicItem{clear:both;background-color:#6D8A98;color:white;padding:5px;font-size:smaller;text-align:left;}
#mainmenu a:hover{color:#B7D87D;}
#topleftbox{float:left;background:#92B18A;width:140px;color:white;font-size:10px;height:143px;text-align:left;padding:5px;}
#topleftbox a{color:white;text-decoration:none;}
#topleftbox a:hover{color:#6D8A98;}
#leftside{float:left;background:#92B18A;width:130px;color:white;padding:10px;}
#leftside a{color:white;text-decoration:none;}
#leftside a:hover{color:#6D8A98;}
#rightside{float:right;background:#92B18A;width:150px;color:white;text-align:right;width:130px;color:white;padding:10px;}
#rightside a{color:white;text-decoration:none;}
#rightside a:hover{color:#6D8A98;}
#content_combined{color:black;background:white;width:460px;float:left;padding:10px;font-size:12px;}
#content_combined a{color:#6D8A98;text-decoration:underline;}
#content_combined a:hover{color:#B7D87D;text-decoration:none;}
#content_combined .link{cursor:pointer;color:#6D8A98;text-decoration:underline;}
#content_combined .link:hover{cursor:pointer;color:#B7D87D;text-decoration:none;}
#content_right{color:black;background:white;width:230px;float:left;padding:10px;font-size:12px;}
#footer{clear:both;background:#6D8A98;text-align:center;color:white;}
#footer a{color:white;text-decoration:none;}
#footer a:hover{color:#B7D87D;}
h2{color:white;font-size:14px;font-weight:bold;}
h3{color:#B7D87D;font-size:14px;font-weight:bold;}
h4{color:#6D8A98;font-size:18px;font-weight:bold;padding-bottom:1em;}
h5{color:#6D8A98;font-size:14px;font-weight:bold;text-align:center;}
h6{color:#000000;font-size:12px;font-style:italic;text-decoration:underline;}
#dropmenudiv{background:#6D8A98;position:absolute;border:1px solid black;border-bottom-width:1px;line-height:18px;z-index:100;}
#dropmenudiv a{width:100%;display:block;text-indent:3px;padding:1px 0;text-decoration:none;text-align:left;background:#6D8A98;color:white;font-size:10px;}
#dropmenudiv a:hover{color:#B7D87D;}
.loginTitle{color:white;font-size:14px;font-weight:bold;}
span.verse-num, span.verse-num-woc{font-size:80%;font-weight:bolder;padding-right:.15em;padding-left:.25em;vertical-align:text-top;}
p{padding-bottom:1em;}
.photogallery{width:400px;border:0px;margin-left:auto;margin-right:auto;}
.photogallery tr td{padding:1em 1.5em 1em 1.5em;}
.photogallery tr td img{border:solid 1px black;width:100;height:67;}
blockquote{font-style:italic;padding-bottom:1em;}
.comment-wrapper{margin-bottom:10px;padding:0px .5em .5em .5em;}
.comment-wrapper .comment-content p{margin:.5em 0;}
.comment-wrapper .comment-footer{font-size:smaller;text-align:right;border-top:1px dashed #999999;color:#999999;}
#comments{margin-bottom:1em;border:1px solid #cccccc;color:#666666;}
#comments h2{margin:0 0 .5em 0;padding:3px;background-color:#EAEAEA;color:#6D8A98;}
.blogtagline{font-size:smaller;text-align:right;border-top:1px dashed #999999;color:#999999;}
dt{font-weight:bold;}
dd{padding-bottom:1em;}
